{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "env": {
    "test": {
      "plugins": [
        "react-hot-loader/babel",
        "istanbul"
      ]
    },
    "production": {
      "presets": [
        [
          "es2015",
          {
            "modules": false
          }
        ]
      ]
    }
  }
}
