/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}

h1 {
  font-family: $text-font-stack;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1;
}

h2 {
  font-family: $text-font-stack;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.35;
}

h3 {
    font-family: $text-font-stack;
    font-size: 2.5rem;
    font-weight: 400;
  }

h4 {
  font-family: $text-font-stack;
  font-size: 2rem;
  font-weight: 400;
}

h5 {
  font-family: $text-font-stack;
  font-size: 1.5rem;
  font-weight: 400;
}

h6 {
  font-family: $text-font-stack;
  font-size: 1.25rem;
  font-weight: 500;
}

.centeredTitle {
  font-family: $text-font-stack;
  padding: 7px 35px;
  box-shadow: 0px 9px 10px 4px rgba(0,0,0,0.17);
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  background-color: white;
  color: rgb(86, 86, 86);
  margin: 0;
  position: relative;
  top: -46px;
}
