// -----------------------------------------------------------------------------
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------

.jobCard, .jobCardDetails {

  h1 {
    font-size: 1em;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    line-height: 0.8em;
  }

  h2 {
    font-size: 0.7em;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.54);
    line-height: 0.8em;
  }

  .cardHeader {
    padding: 5px 5px 5px 16px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    .cardHeaderIcon {
      padding-top: 5px;
    }
  }

  .cardMedia {
    overflow: hidden;
    padding: 0;
    position: relative;
    height: 350px;
    img {
      width: 100%;
      transition: all 0.3s;
      position: absolute;
      top: 0;
    }

    img:hover {
      transform: scale(1.1);
    }

    .overlay {
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      position: absolute;
      bottom: 0px;

      p {
        text-align: center;
        color: white;
        font-size: 1em;
        font-weight: 400;
        line-height: 0.8em;
      }
    }
  }

  .cardDetails {
    padding: 5px 16px;
    position: absolute;
    top: 0px;
    overflow: hidden;
    z-index: 999;
    background: white;
    width: 100%;
    transition: height ease 0.3s;

    p {
      font-size: 0.7em;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.54);
      line-height: 1em;
    }
  }
}

.jobCard {
  .cardDetails {
    height: 0;
  }
  .overlay {
    height: 50px;
  }
}

.jobCardDetails {
  .cardDetails {
    height: auto;
    transition: height ease 0.3s;
  }
  .overlay {
    height: 100%;
  }
}
