// -----------------------------------------------------------------------------
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------

.jobCard {
  max-width: 350px;
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 2px;
  height: 435px;
  position: relative;
  overflow: hidden;

  h1 {
    font-size: 1.3rem;
    font-weight: 400;
  }

  h2 {
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.54);
    line-height: 0.1rem;
  }

  .cardHeader {
    padding: 5px 5px 5px 16px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    .cardHeaderIcon {
      padding-top: 5px;
    }
  }

  .seeMore {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;

    span {
      margin: auto;
    }
  }

  .cardMedia {
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 95px;
    height: 342px;
    max-width: 350px;
    img {
      width: 100%;
      height: 100%;
      transition: all 0.3s;
    }

    img:hover {
      transform: scale(1.1);
    }

    .overlay {
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      position: absolute;
      bottom: 0px;
      height: 50px;

      p {
        text-align: center;
        color: white;
        font-size: 1em;
        font-weight: 400;
        line-height: 0.8rem;
      }
    }
  }

  .cardDetails {
    padding: 0px 16px;
    position: absolute;
    z-index: 10;
    background: white;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 7px 12px;
    * {
      margin: 0;
      padding: 0;
    }

    p {
      padding-top: 5px;
      font-size: 0.85rem;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.54);
      line-height: 1rem;
    }
  }
}

.cardLinks {
  text-align: center;

  a {
    font-size: 0.85rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.64);
  }

  a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
}
