.no-video .videocontainer video,
.touch .videocontainer video {
  display: none;
}

.no-video .videocontainer .poster,
.touch .videocontainer .poster {
  display: block;
}

.videocontainer {
  height: 400px;

  .overlay {
    z-index: 100;
    margin: auto;
  }

  video {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -100;
  }
}
