#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  padding-top: -80px;
  background-color: white;

  #profilePicCol {
    position: relative;
    top: -100px;

    .resumeButton {
      margin: auto;
    }
  }

  #profilePic {
    min-height: 200px;
    background: url("../../images/profilePic.png") no-repeat center;
    background-size: contain;
  }

  #profilePic:hover {
    background: url("../../images/profilePic2.png") no-repeat center;
    background-size: contain;
  }

  #profileLogoCol {
    background: url('../../images/logo.svg') no-repeat;
    background-size: contain;
  }
}
