#smartphoneScreen {
  h5 {
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(77, 77, 77, 1);
    margin: 0.5rem 0.5rem 0;
  }

  a {
    color: rgba(77, 77, 77, 1);
  }

  h6 {
    font-size: 0.7rem;
    font-weight: 300;
    color: rgba(153, 153, 153, 1);
    margin: 0 0.3rem 0.3rem 0.7rem;
  }

  .material-icons {
    color: #4CAF50;
  }

  .material-icons:hover {
    color: #81C784;
  }
}

@media only screen and (min-width: 48em) {
  #smartphoneScreen {
    margin: 10px;
    position: relative;
    top: 50%;

    .row {
      padding-bottom: 5px;
    }

    .col-lg-9 {
      margin-left: -20px;
    }

    .col-lg-3 {
      margin-top: 10px;
      margin-right: -10px;
    }
  }

  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
    background: url('../../images/layout/bg-contact.jpg') no-repeat;
    background-size: cover;
  }

  #smartphone {
    background: url('../../images/layout/smartphone.png') no-repeat;
    background-size: contain;
    height: 400px;
    align-self: flex-end;
  }

  #objects {
    background: url('../../images/layout/bg-objects.png') no-repeat;
    background-size: contain;
    min-height: 450px;
    align-self: flex-end;
    position: relative;
  }
}
@media only screen and (max-width: 48em) {
  #objects {
    display: none;
  }

  .row {
    margin: 0
  }

  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
