#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;
  background: url('../../images/layout/bg-contact.jpg') no-repeat;
  background-size: cover;
}

#smartphone {
  background: url('../../images/layout/smartphone.png') no-repeat;
  background-size: contain;
  height: 400px;
  align-self: flex-end;

  #smartphoneScreen {
    margin: 10px;
    position: relative;
    top: 50%;

    h5 {
      font-size: 0.9rem;
      font-weight: 400;
      color: rgba(77, 77, 77, 1);
      margin: 0.5rem;
      margin-bottom: 0;
    }

    a {
      color: rgba(77, 77, 77, 1);
    }

    h6 {
      font-size: 0.7rem;
      font-weight: 300;
      color: rgba(153, 153, 153, 1);
      margin: 0 0.3rem 0.3rem 0.7rem;
    }

    .row {
      padding-bottom: 5px;
    }

    .col-lg-9 {
      margin-left: -20px;
    }

    .col-lg-3 {
      margin-top: 10px;
      margin-right: -10px;
    }
  }
}

#objects {
  background: url('../../images/layout/bg-objects.png') no-repeat;
  background-size: contain;
  min-height: 450px;
  align-self: flex-end;
  position: relative;
}

#contactForm {
  background-color: rgba(255, 255, 255, 0.76);
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border-radius: 2px;
  padding: 5px;
  position: absolute;
  bottom: 0px;

  .row {
    margin: 5px;
    overflow: hidden;
  }
}
