#experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  padding-top: 40px;
  background: url('../../images/experience.jpg');
  background-size: cover;

  .arrows {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .arrows>div {
    margin: 20px;
  }

  .timelineSettings {
    display: flex;
    justify-content: flex-end;
    margin: 5px;

    .buttons {
      display: flex;
      justify-content: center;
      background: rgba(255, 255, 255, 0.8);
      padding: 5px;
      border-radius: 25px;
    }

    .toggle {
    }
  }
}
