// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
  background-color: #111;
  color: white;
  font-size: 0.8rem;

  .icons {
    margin: 0.4rem;
    font-size: 1.5rem;
  }

  a {
    margin: 0.3rem;
    color: rgba(255, 255, 255, 0.8);
  }

  a:hover {
    transition: all 0.2s;
    color: rgba(255, 255, 255, 1);
  }
}

#starWars {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	color: rgb(255, 255, 102);

	#starWarsTop {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		background: linear-gradient(rgba(0,0,0,1) 50%, rgba(0,0,0,0));
		z-index: 10;

		.menu {
			display: flex;
			flex-direction: row;
			justify-content: center;

			a {
				margin: 10px;
				color: rgba(255, 255, 102, 0.8);
				font-size: 1.1rem;
				text-transform: uppercase;

				img:hover {
					transform: scaleX(-1);
					transition: transform  0.3s;
				}
			}

			a:hover {
				color: rgba(255, 255, 102, 1);
				text-decoration: none;
			}
		}
	}
}

#starWars:target {
	opacity:1;
	pointer-events: auto;
}

#titles
{
	position: absolute;
	width: 18em;
	height: 30em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(25deg);
}

#titlecontent {

	.scroll {
	  position: absolute;
	  top: 100%;
  	animation: scroll 100s linear 1s infinite;
	}

	.noscroll {
	  position: absolute;
	  top: 100%;
	}
}

@keyframes scroll {
  0% { top: 100%; }
  100% { top: -170%; }
}
