// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
  background-color: #111;
  color: white;
  font-size: 0.8rem;

  .icons {
    margin: 0.4rem;
    font-size: 1.5rem;
  }

  a {
    margin: 0.3rem;
    color: rgba(255, 255, 255, 0.8);
  }

  a:hover {
    transition: all 0.2s;
    color: rgba(255, 255, 255, 1);
  }
}

#starWars {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	color: rgb(255, 255, 102);

	.button {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		cursor: zoom-out;
	}
}

#starWars:target {
	opacity:1;
	pointer-events: auto;
}

#titles
{
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(25deg);
}

#starWars:after {
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
	pointer-events: none;
	z-index: 10;
}

#titlecontent {
  position: absolute;
  top: 100%;
  animation: scroll 100s linear 4s infinite;
}

@keyframes scroll {
  0% { top: 100%; }
  100% { top: -170%; }
}
