#qualitiesBg {
  background-color: rgb(237, 237, 237);
  transform: skew(0deg, -5deg);
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#qualities {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 1rem;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 40px;

  .topSkill {
    margin: 10px;
    padding: 5px;
    text-align: center;
    color: #222222;

    h5 {
      margin: 0;
    }
  }

  .topSkill:hover {
    text-decoration: none;
    cursor: pointer;
  }

  .topSkill>div {
    width: 200px;
    height: 200px;
    margin: auto;
    transition: all 0.2s;
  }

  #pictoDev {
    background: url('../../images/icons/dev.svg') no-repeat center;
    background-size: contain;
  }

  #pictoDev:hover {
    background: url('../../images/icons/devhover.svg') no-repeat center;
    background-size: contain;
  }

  #pictoWeb {
    background: url('../../images/icons/web.svg') no-repeat center;
    background-size: contain;
  }

  #pictoWeb:hover {
    background: url('../../images/icons/webhover.svg') no-repeat center;
    background-size: contain;
  }

  #pictoAgile {
    background: url('../../images/icons/agile.svg') no-repeat center;
    background-size: contain;
  }

  #pictoAgile:hover {
    background: url('../../images/icons/agilehover.svg') no-repeat center;
    background-size: contain;
  }

  #pictoCurious {
    background: url('../../images/icons/curious.svg') no-repeat center;
    background-size: contain;
  }

  #pictoCurious:hover {
    background: url('../../images/icons/curioushover.svg') no-repeat center;
    background-size: contain;
  }

  #pictoCom {
    background: url('../../images/icons/com.svg') no-repeat center;
    background-size: contain;
  }

  #pictoCom:hover {
    background: url('../../images/icons/comhover.svg') no-repeat center;
    background-size: contain;
  }

  #pictoDynamic {
    background: url('../../images/icons/dynamic.svg') no-repeat center;
    background-size: contain;
  }

  #pictoDynamic:hover {
    background: url('../../images/icons/dynamichover.svg') no-repeat center;
    background-size: contain;
  }

  #focus {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2000;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3);

    .modalContent {
      position: fixed;
      top: 50%;
      left: 50%;
      width: 50%;
      height: auto;
      z-index: 2001;
      transform: scale(2);
      opacity: 0;
      transition: all 0.3s;
    }
  }

  #focus:target {
    pointer-events: auto;
    visibility: visible;

    .modalContent {
      transform: translateX(-50%) translateY(-50%) scale(1);
      opacity: 1; 
      background-color: white;
      color: rgba(0, 0, 0, 0.87);
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
      border-radius: 2px;
      padding-bottom: 15px;
      h1 {
        text-align: center;
      }
    }
  }
}
