#skillsBg {
  background-color: rgb(237, 237, 237);
  transform: skew(0deg, -5deg);
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#skills {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 1rem;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 40px;

  .topSkill {
    margin: 10px;
    padding: 5px;
    text-align: center;

    h5 {
      margin: 0;
    }
  }

  .topSkill>div {
    width: 200px;
    height: 200px;
    margin: auto;
    transition: all 0.2s;
  }

  #pictoDev {
    background: url('../../images/icons/dev.svg') no-repeat center;
    background-size: contain;
  }

  #pictoDev:hover {
    background: url('../../images/icons/devhover.svg') no-repeat center;
    background-size: contain;
  }

  #pictoWeb {
    background: url('../../images/icons/web.svg') no-repeat center;
    background-size: contain;
  }

  #pictoWeb:hover {
    background: url('../../images/icons/webhover.svg') no-repeat center;
    background-size: contain;
  }

  #pictoAgile {
    background: url('../../images/icons/agile.svg') no-repeat center;
    background-size: contain;
  }

  #pictoAgile:hover {
    background: url('../../images/icons/agilehover.svg') no-repeat center;
    background-size: contain;
  }

  #pictoCurious {
    background: url('../../images/icons/curious.svg') no-repeat center;
    background-size: contain;
  }

  #pictoCurious:hover {
    background: url('../../images/icons/curioushover.svg') no-repeat center;
    background-size: contain;
  }

  #pictoCom {
    background: url('../../images/icons/com.svg') no-repeat center;
    background-size: contain;
  }

  #pictoCom:hover {
    background: url('../../images/icons/comhover.svg') no-repeat center;
    background-size: contain;
  }

  #pictoDynamic {
    background: url('../../images/icons/dynamic.svg') no-repeat center;
    background-size: contain;
  }

  #pictoDynamic:hover {
    background: url('../../images/icons/dynamichover.svg') no-repeat center;
    background-size: contain;
  }

  #technos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
