#skills {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 1rem;

  #languagesPic {
    background: url('../../images/layout/languages.jpg');
    background-size: cover;
    min-height: 300px;
  }

  #softPic {
    background: url('../../images/layout/soft-skills.jpg');
    background-size: cover;
    min-height: 300px;
  }

  .skillCard {
    box-shadow: 0 5px 12px rgba(50, 93, 50, .1), 0 3px 7px rgba(0, 0, 0, .07);
    border-radius: 4px;
    padding: 20px;

    h4 {
      margin: 0;
    }

    @keyframes blinker {
      50% { opacity: 0.25; }
    }

    .tag-cloud {
      color: rgb(70, 70, 70);
      line-height: 2.5rem;
      text-align: center;

      .tag-1 {
        font-size: 1.5rem;
        font-weight: 400;
      }

      .tag-2 {
        font-size: 2rem;
        font-weight: 200;
      }

      .tag-3 {
        font-size: 3rem;
        font-weight: 300;
      }

      .tag-4 {
        font-size: 3.5rem;
        font-weight: 400;
      }
    }
  }

  .skillCard:hover {
    box-shadow: 0 10px 25px rgba(50, 93, 50, .1), 0 5px 15px rgba(0, 0, 0, .07);
  }

  #mainSkills {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20), 0px 1px 5px 0px rgba(0,0,0,0.13);
    border-radius: 3px;
    margin-bottom: 20px;

    .red:hover {
      border-bottom: 3px solid rgb(230, 42, 16);
      padding-bottom: 3px;
    }

    .orange:hover {
      border-bottom: 3px solid rgb(256, 152, 0);
      padding-bottom: 3px;
    }

    .green:hover {
      border-bottom: 3px solid $vert;
      padding-bottom: 3px;
    }

    .blue:hover {
      border-bottom: 3px solid rgb(2, 119, 189);
      padding-bottom: 3px;
    }

    .purple:hover {
      border-bottom: 3px solid #AB47BC;
      padding-bottom: 3px;
    }

    .skillHeader {
      transition: all 0.3s;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      span {
        margin-right: 15px;
      }
      border-bottom: 1px solid rgb(199, 199, 199);
      background-color: rgb(249, 249, 249);
      padding: 5px 0 5px 15px;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.67);
      font-size: 1.2rem;
      font-weight: 400;
    }

    .ReactCollapse--collapse {
      font-size: 1rem;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.64);
    }

    .tag {
      background: #EAEAEA;
      border: 1px solid #979797;
      border-radius: 2px;
      padding: 2px;
      margin: 5px;
      color: rgb(94, 94, 94);
      font-size: 0.9rem;
      font-weight: 200;
    }

    * {
      margin: 0;
    }
  }

  .otherSkill {
    padding: 15px;
  }

  #languages {
    p {
      font-size: 1rem;
      text-align: center;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.54);    
    }
  }
}
