#skills {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding: 1rem;

  #languagesPic {
    background: url('../../images/layout/languages.jpg');
    background-size: cover;
    min-height: 300px;
  }

  #softPic {
    background: url('../../images/layout/soft-skills.jpg');
    background-size: cover;
    min-height: 300px;
  }

  #designCarousel {
    height: 100%;
    min-height: 300px;
    background-size: contain;
    transition: all 0.3s;
  }

  @function longshadow($color_a,$color_b,$stepnum, $opacity: 1){

    $gradient_steps: null;

    @for $i from 1 through $stepnum {

      $weight: ( ( $i - 1 ) / $stepnum ) * 100;

      $colour_mix: mix($color_b, rgba($color_a, $opacity), $weight);

      $seperator: null;

      @if($i != $stepnum){ 
        $seperator: #{','}; 
      }

      $gradient_steps: append( #{$gradient_steps}, #{$i}px #{$i}px $colour_mix $seperator );

      }

      @return $gradient_steps;

  }

  #frontEnd {
    height: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      transition: all 0.2s;
      margin: auto;
    }
  }

  .frontEnd1 {
    color: rgb(255, 152, 0);
  }

  .frontEnd2 {
    @extend .frontEnd1;
    font-weight: bold;
  }

  .frontEnd3 {
    @extend .frontEnd2;
    text-align: center;
  }

  .frontEnd4 {
    @extend .frontEnd3;
    font-size: 4em;
  }

  .frontEnd5 {
    @extend .frontEnd4;
    text-shadow: 
      0 1px 0 rgb(255, 192, 40);
  }

  .frontEnd6 {
    @extend .frontEnd4;
    text-shadow:
      0 1px 0 rgb(255, 192, 40),
      0 2px 0 rgb(255, 162, 10);
  }

  .frontEnd7 {
    @extend .frontEnd4;
    text-shadow:
      0 1px 0 rgb(255, 192, 40),
      0 2px 0 rgb(255, 162, 10),
      0 3px 0 rgb(245, 152, 0);
  }

  .frontEnd8 {
    @extend .frontEnd4;
    text-shadow:
      0 1px 0 rgb(255, 192, 40),
      0 2px 0 rgb(255, 162, 10),
      0 3px 0 rgb(245, 152, 0),
      0 4px 0 rgb(235, 142, 0);
  }

  .frontEnd9 {
    @extend .frontEnd4;
    text-shadow: 
      0 1px 0 rgb(255, 192, 40),
      0 2px 0 rgb(255, 162, 10),
      0 3px 0 rgb(245, 152, 0),
      0 4px 0 rgb(235, 142, 0),
      0 6px 0 rgb(225, 132, 0);
  }

  .frontEnd10 {
    @extend .frontEnd9;
    animation: bounce 0.35s ease infinite alternate;
  }

  .frontEnd11 {
    @extend .frontEnd4;
    text-shadow: 
      0 1px 0 rgb(255, 192, 40),
      0 2px 0 rgb(255, 162, 10),
      0 3px 0 rgb(245, 152, 0),
      0 4px 0 rgb(235, 142, 0),
      0 6px 0 rgb(225, 132, 0),
      longshadow(darken(white, 30%), white, 42, 0.5);
  }

  @keyframes bounce{
     from {transform: translateY(0);}
     to   {transform: translateY(-20px);}
  }

  .frontEnd12 {
    @extend .frontEnd11;
    text-shadow: none;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20), 0px 1px 5px 0px rgba(0,0,0,0.13);
  }

  .frontEnd13 {
    @extend .frontEnd12;
    padding: 20px;
    border-radius: 3px;
  }

  .frontEnd14 {
    @extend .frontEnd13;
    background: rgb(255, 152, 0);
    color: white;
  }

  .frontEnd15 {
    @extend .frontEnd14;
    font-weight: 400;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.20), 0px 1px 5px rgba(0,0,0,0.13);
  }

  .frontEnd16 {
    @extend .frontEnd15;
    font-size: 2rem;
  }

  .frontEnd17 {
    @extend .frontEnd16;
    border-radius: 50px;
    padding: 10px;
  }

  .frontEnd18 {
    @extend .frontEnd17;
    color: rgba(0, 0, 0, 0);
    text-shadow: none;
  }

  .frontEnd19 {
    @extend .frontEnd18;
    font-size: 0;
    text-shadow: none;
    height: 66px;
    width: 66px;
  }

  .sweat {
    background: url('../../images/carousel/sweat.png') no-repeat center center;
  }

  .mineur {
    background: url('../../images/carousel/lampe-ballon.png') no-repeat center center;
  }

  .dynergie {
    background: url('../../images/carousel/dynergie.png') no-repeat center center;
  }

  .kata {
    background: url('../../images/carousel/kata.png') no-repeat center center;
  }

  .skillCard {
    box-shadow: 0 5px 12px rgba(50, 93, 50, .1), 0 3px 7px rgba(0, 0, 0, .07);
    border-radius: 4px;
    padding: 20px;

    h4 {
      margin: 0;
    }

    @keyframes blinker {
      50% { opacity: 0.25; }
    }

    .tag-cloud {
      color: rgb(70, 70, 70);
      line-height: 2.5rem;
      text-align: center;
      margin: 40px 0;

      .tag-1 {
        font-size: 1.5rem;
        font-weight: 400;
      }

      .tag-2 {
        font-size: 2rem;
        font-weight: 200;
      }

      .tag-3 {
        font-size: 3rem;
        font-weight: 300;
      }

      .tag-4 {
        font-size: 3.5rem;
        font-weight: 400;
      }
    }
  }

  .skillCard:hover {
    box-shadow: 0 10px 25px rgba(50, 93, 50, .1), 0 5px 15px rgba(0, 0, 0, .07);
  }

  #mainSkills {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20), 0px 1px 5px 0px rgba(0,0,0,0.13);
    border-radius: 3px;
    margin-bottom: 20px;

    .red:hover {
      border-bottom: 3px solid rgb(230, 42, 16);
      padding-bottom: 3px;
    }

    .orange:hover {
      border-bottom: 3px solid rgb(255, 152, 0);
      padding-bottom: 3px;
    }

    .green:hover {
      border-bottom: 3px solid $vert;
      padding-bottom: 3px;
    }

    .blue:hover {
      border-bottom: 3px solid rgb(2, 119, 189);
      padding-bottom: 3px;
    }

    .purple:hover {
      border-bottom: 3px solid #AB47BC;
      padding-bottom: 3px;
    }

    .skillHeader {
      transition: all 0.3s;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      span {
        margin-right: 15px;
      }
      border-bottom: 1px solid rgb(199, 199, 199);
      background-color: rgb(249, 249, 249);
      padding: 5px 0 5px 15px;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.67);
      font-size: 1.2rem;
      font-weight: 400;
    }

    .ReactCollapse--collapse {
      font-size: 1rem;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.64);

      .margin {
        width: 100%;
        height: 15px;
      }
    }

    .tag {
      background: #EAEAEA;
      border-radius: 2px;
      padding: 3px 5px;
      margin: 5px;
      color: rgb(94, 94, 94);
      font-size: 0.9rem;
      font-weight: 200;
      box-shadow: 0 1px 2px rgba(0, 0, 0, .17);
    }

    .tag:hover {
      box-shadow: 0 2px 5px rgba(0, 0, 0, .17);
      background: #EEEEEE
    }

    .importantTag {
      border: 1px solid #979797;
    }

    * {
      margin: 0;
    }
  }

  .otherSkill {
    padding: 15px;
  }

  #languages {
    p {
      font-size: 1rem;
      text-align: center;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.54);    
    }
  }
}
